/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/uploadedfiles
/public/docusinguploads
/public/patientdocument
/public/docusign
/.scannerwork
/TCPDF/
/storage/debugbar
public/event-image
database/seeds/
public/dosusinguploads/docusign
public/ebook-video
public/img 
public/stamp-image
public/patientWriteDocument/
public/user-profile/
TCPDF/fonts/* binary
