#order-listing_length,
#order-listing_paginate,
#order-listing_info {
    display: none;
}

#order-listing_filter {
    text-align: right;
}

.select2-container {
    width: 333px !important;
}

.wmd-view-topscroll,
.wmd-view {
    overflow-x: scroll;
    overflow-y: hidden;
    border: none 0px red;
}

.wmd-view-topscroll {
    height: 20px;
}

.scroll-div1 {

    overflow-x: scroll;
    overflow-y: hidden;
    height: 20px;
}

.scroll-div2 {
    height: 20px;
}

.scroll-div1,
.scroll-div2 {
    width: 1400px;
}

.table-head-fix tbody {
    display: block;
    max-height: calc(100vh - 350px);
    overflow-y: scroll;
}

.table-head-fix tbody::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.table-head-fix thead,
.table-head-fix tbody tr {
    display: table;
    width: 100%;
}


.recordtabletdwidth th:nth-child(1),
.recordtabletdwidth td:nth-child(1) {
    min-width: 32px;
    max-width: 32px;
    width: 32px;
}

.recordtabletdwidth th:nth-child(2),
.recordtabletdwidth td:nth-child(2) {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
}

.recordtabletdwidth th:nth-child(3),
.recordtabletdwidth td:nth-child(3) {
    min-width: 180px;
    max-width: 180px;
    width: 180px;
}

.recordtabletdwidth th:nth-child(4),
.recordtabletdwidth td:nth-child(4) {
    min-width: 180px;
    max-width: 180px;
    width: 180px;
}

.recordtabletdwidth th:nth-child(5),
.recordtabletdwidth td:nth-child(5) {
    min-width: 210px;
    max-width: 210px;
    width: 210px;
}

.recordtabletdwidth th:nth-child(6),
.recordtabletdwidth td:nth-child(6) {
    min-width: 140px;
    max-width: 140px;
    width: 140px;
}

.recordtabletdwidth th:nth-child(7),
.recordtabletdwidth td:nth-child(7) {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    overflow: hidden;
}

.recordtabletdwidth th:nth-child(8),
.recordtabletdwidth td:nth-child(8) {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    overflow: hidden;
}

.recordtabletdwidth th:nth-child(9),
.recordtabletdwidth td:nth-child(9) {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    overflow: hidden;
}

.recordtabletdwidth th:nth-child(10),
.recordtabletdwidth td:nth-child(10) {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    overflow: hidden;
}

.recordtabletdwidth th:nth-child(11),
.recordtabletdwidth td:nth-child(11) {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    overflow: hidden;
}

.recordtabletdwidth th:nth-child(12),
.recordtabletdwidth td:nth-child(12) {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    overflow: hidden;
}
.recordtabletdwidth th:nth-child(13),
.recordtabletdwidth td:nth-child(13) {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    overflow: hidden;
}

.recordtabletdwidth th:nth-child(14),
.recordtabletdwidth td:nth-child(14) {
    min-width: 150px;
    max-width: 150px;
    width: 150px;

}

.recordtabletdwidth th:nth-child(15),
.recordtabletdwidth td:nth-child(15) {
    min-width: 200px;
    max-width: 200px;
    width: 200px;

}
.sorting-btn {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.sorting-div {
    display: flex;
    align-items: center;
}

.sorting-btn button {
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    line-height: 0.5;
}

.sorting-btn button i {
    line-height: 0.3;
}

.order-listing-loader {
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff94;
    bottom: 0;
    right: 0;
    width: 100%;
    font-size: 30px;
    display: none;
    align-items: center;
    justify-content: center;

}

.page-title-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.hide{
    display: none;
}